<div class="d-flex align-items-center auth auth-bg-1 theme-one">
  <div class="row w-100">
    <div class="col-lg-4 mx-auto">
      <div class="auto-form-wrapper">
          <div class="form-group">
            <label class="label">Username</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Username" [(ngModel)] = "loginInfo.username" (input)="error_label = false">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="mdi mdi-check-circle-outline"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="label">Password</label>
            <div class="input-group">
              <input type="password" class="form-control" placeholder="*********" [(ngModel)] = "loginInfo.password" (input)="error_label = false">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="mdi mdi-check-circle-outline"></i>
                </span>
              </div>
            </div>
            <label *ngIf="error_label" class="feedback-error">UserName or Password is Incorrect.</label>
          </div>

          <div class="form-group">
            <button class="btn btn-primary submit-btn btn-block" (click)="login()">Login</button>
          </div>
          <div class="form-group d-flex justify-content-between">
            <div class="form-check form-check-flat mt-0">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" checked> Keep me signed in </label>
            </div>
            <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
          </div>
          <!--<div class="form-group">-->
            <!--<button class="btn btn-block g-login">-->
              <!--<img class="mr-3" src="assets/images/file-icons/icon-google.svg" alt="">Log in with Google</button>-->
          <!--</div>-->
          <div class="text-block text-center my-3">
            <span class="text-small font-weight-semibold">Not a member ?</span>
            <a routerLink="/auth/register" class="text-black text-small">Create new account</a>
          </div>
      </div>
      <ul class="auth-footer">
        <li>
          <a href="#">Conditions</a>
        </li>
        <li>
          <a href="#">Help</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
      </ul>
      <p class="footer-text text-center">copyright © 2018 Bootstrapdash. All rights reserved.</p>
    </div>
  </div>
</div>
