<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Richard V.Welsh</p>
            <div>
              <small class="designation text-muted">Manager</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <button class="btn btn-success btn-block">New Project
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="dashboardDropdownOpen = !dashboardDropdownOpen" [attr.aria-expanded]="dashboardDropdownOpen"
        aria-controls="dashboard-dropdown" [ngClass]="{'active': dashboardLink.isActive || dashboard2Link.isActive}">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="dashboard-dropdown" [ngbCollapse]="!dashboardDropdownOpen">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" #dashboardLink="routerLinkActive">Dashboard
              1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard-2" routerLinkActive="active" #dashboard2Link="routerLinkActive">Dashboard
              2</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="appsDropdownOpen = !appsDropdownOpen" [attr.aria-expanded]="appsDropdownOpen"
        aria-controls="dashboard-apps-dropdown" [ngClass]="{'active': emailLink.isActive || todoListLink.isActive}">
        <i class="menu-icon mdi mdi-dna"></i>
        <span class="menu-title">Apps</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="dashboard-apps-dropdown" [ngbCollapse]="!appsDropdownOpen">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/email" routerLinkActive="active" #emailLink="routerLinkActive">Email</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/todo-list" routerLinkActive="active" #todoListLink="routerLinkActive">To-do
              List</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/widgets" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title">Widgets</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="BEDropdownOpen = !BEDropdownOpen" [attr.aria-expanded]="BEDropdownOpen"
        aria-controls="basic-elements-dropdown" [ngClass]="{'active': accordionLink.isActive || buttonsLink.isActive || badgesLink.isActive || breadcrumbLink.isActive || dropdownLink.isActive || progressBarLink.isActive || paginationLink.isActive || tabsLink.isActive || typographyLink.isActive || tooltipLink.isActive}">
        <i class="menu-icon mdi mdi-content-copy"></i>
        <span class="menu-title">Basic Elements</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="basic-elements-dropdown" [ngbCollapse]="!BEDropdownOpen">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/accordions" routerLinkActive="active" #accordionLink="routerLinkActive">Accordion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/buttons" routerLinkActive="active" #buttonsLink="routerLinkActive">Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/badges" routerLinkActive="active" #badgesLink="routerLinkActive">Badges</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/breadcrumbs" routerLinkActive="active" #breadcrumbLink="routerLinkActive">Breadcrumb</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dropdowns" routerLinkActive="active" #dropdownLink="routerLinkActive">Dropdown</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/progressbar" routerLinkActive="active" #progressBarLink="routerLinkActive">Progress
              Bar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pagination" routerLinkActive="active" #paginationLink="routerLinkActive">Pagination</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tabs" routerLinkActive="active" #tabsLink="routerLinkActive">Tabs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/typography" routerLinkActive="active" #typographyLink="routerLinkActive">Typography</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tooltips" routerLinkActive="active" #tooltipLink="routerLinkActive">Tooltip</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="ADDropdownOpen = !ADDropdownOpen" [attr.aria-expanded]="ADDropdownOpen"
        aria-controls="advanced-elements-dropdown" [ngClass]="{'active': dragulaLink.isActive || carouselLink.isActive || loadersLink.isActive}">
        <i class="menu-icon mdi mdi-lightbulb-outline"></i>
        <span class="menu-title">Advanced Elements</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="advanced-elements-dropdown" [ngbCollapse]="!ADDropdownOpen">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dragula" routerLinkActive="active" #dragulaLink="routerLinkActive">Dragula</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/carousel" routerLinkActive="active" #carouselLink="routerLinkActive">Carousal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/loaders" routerLinkActive="active" #loadersLink="routerLinkActive">Loader</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="ChartsDropdownOpen = !ChartsDropdownOpen" [attr.aria-expanded]="ChartsDropdownOpen"
        aria-controls="charts-dropdown" [ngClass]="{'active': chartjsLink.isActive}">
        <i class="menu-icon mdi mdi-chart-line"></i>
        <span class="menu-title">Charts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts-dropdown" [ngbCollapse]="!ChartsDropdownOpen">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/chartjs" routerLinkActive="active" #chartjsLink="routerLinkActive">ChartJS</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/forms" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title">Form elements</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tables" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Tables</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/alerts" routerLinkActive="active">
        <i class="menu-icon mdi mdi-shield-outline"></i>
        <span class="menu-title">Alerts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="UserPageDropdownOpen = !UserPageDropdownOpen" [attr.aria-expanded]="UserPageDropdownOpen"
        aria-controls="user-page-dropdown" [ngClass]="{'active': loginLink.isActive || registerLink.isActive}">
        <i class="menu-icon mdi mdi-restart"></i>
        <span class="menu-title">User Page</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="user-page-dropdown" [ngbCollapse]="!UserPageDropdownOpen">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active" #loginLink="routerLinkActive">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active" #registerLink="routerLinkActive">Register</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="ErrorPageDropdownOpen = !ErrorPageDropdownOpen" [attr.aria-expanded]="ErrorPageDropdownOpen"
        aria-controls="error-page-dropdown" [ngClass]="{'active': page404Link.isActive || page500Link.isActive}">
        <i class="menu-icon mdi mdi-restart"></i>
        <span class="menu-title">Error Page</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="error-page-dropdown" [ngbCollapse]="!ErrorPageDropdownOpen">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/404-page" routerLinkActive="active" #page404Link="routerLinkActive">404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/500-page" routerLinkActive="active" #page500Link="routerLinkActive">500</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="EcommerceDropdownOpen = !EcommerceDropdownOpen" [attr.aria-expanded]="EcommerceDropdownOpen"
        aria-controls="ecommerce-dropdown" [ngClass]="{'active': invoiceLink.isActive || pricingTableLink.isActive}">
        <i class="menu-icon mdi mdi-apple-keyboard-command"></i>
        <span class="menu-title">E-commerce</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ecommerce-dropdown" [ngbCollapse]="!EcommerceDropdownOpen">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/invoice" routerLinkActive="active" #invoiceLink="routerLinkActive">Invoice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pricing-table" routerLinkActive="active" #pricingTableLink="routerLinkActive">Pricing
              Table</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="iconsDropdownOpen = !iconsDropdownOpen" [attr.aria-expanded]="iconsDropdownOpen"
        aria-controls="icons-dropdown" [ngClass]="{'active': flagIconLink.isActive || fontAwesomeLink.isActive || mdiLink.isActive || simpleLineLink.isActive }">
        <i class="menu-icon mdi mdi-sticker"></i>
        <span class="menu-title">Icons</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="icons-dropdown" [ngbCollapse]="!iconsDropdownOpen">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/flag-icon" routerLinkActive="active" #flagIconLink="routerLinkActive">Flag
              Icon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/font-awesome" routerLinkActive="active" #fontAwesomeLink="routerLinkActive">Font
              Awesome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mdi" routerLinkActive="active" #mdiLink="routerLinkActive">MDI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/simple-line" routerLinkActive="active" #simpleLineLink="routerLinkActive">Simple
              Line</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
