<div class="d-flex align-items-center auth register-bg-1 theme-one">
  <div class="row w-100">
    <div class="col-lg-4 mx-auto">
      <h2 class="text-center mb-4">Register</h2>
      <div class="auto-form-wrapper">
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <div class="form-group">
            <div class="input-group">
              <input type="text" formControlName="username" class="form-control" placeholder="Username" >
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="mdi mdi-check-circle-outline"></i>
                </span>
              </div>
            </div>
            <label *ngIf="submitted && f.username.errors && f.username.errors.required" class="feedback-error">UserName
              is required</label>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="password" formControlName="password" class="form-control" placeholder="Password" >
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="mdi mdi-check-circle-outline"></i>
                </span>
              </div>
            </div>
            <label *ngIf="submitted && f.password.errors && f.password.errors.required" class="feedback-error">Password
              is required</label>
            <label *ngIf="submitted && f.password.errors && f.password.errors.minlength" class="feedback-error">Password
              must be at least 6 characters</label>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" >
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="mdi mdi-check-circle-outline"></i>
                </span>
              </div>
            </div>
            <label *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.required" class="feedback-error">Confirm
              Password is required</label>
            <label *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.mustMatch" class="feedback-error">Passwords
              must match</label>

          </div>
          <div class="form-group d-flex justify-content-center">
            <div class="form-check form-check-flat mt-0">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" checked> I agree to the terms </label>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary submit-btn btn-block">Register</button>
          </div>
          <div class="text-block text-center my-3">
            <span class="text-small font-weight-semibold">Already have and account ?</span>
            <a routerLink="/auth/login" class="text-black text-small">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
